<div class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
    <div class="container">
        <div class="navbar-header">
            <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">Yew Tree Solutions</a>
        </div>
        <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
            <ul class="nav navbar-nav">
                <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
                    <a ng-if="item.permission()" ng-href="{{item.link}}">{{item.title}}</a>
                </li>
                <li ng-if="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
                <li ng-if="isAdmin()" ng-class="{active: isActive('/clients')}"><a href="/clients">Clients</a></li>
            </ul>
            <form ng-show="!isAdmin() && !isClient() && !isContentProvider()" class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" ng-model="selected" class="form-control" placeholder="Search"
                           uib-typeahead="video for video in videos">
                </div>
                <button class="btn btn-default" type="submit" ng-click="goVideo()">
                    <i class="glyphicon glyphicon-search"></i>
                </button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}"><a href="/signup">Sign up</a></li>
                <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}"><a href="/login">Login</a></li>
                <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span
                    class="glyphicon glyphicon-cog"></span></a></li>
                <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}"><a href="" ng-click="logout()">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</div>
