.progress {
    height: 3em;
}

.job {
    height: 3.7em;
}

.progress i {
    line-height: 2.5em;
    font-size: large;
    font-weight: bold;
}

.progress-bar {
    transition: width 2s ease-in-out;
}

.poor-man-centering {
    position: relative;
    top: 120px;
}
