<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <div class="col-sm-12">
        <div class="row">
            <div class="col-sm-10">
                <h1>{{getCurrentUser().name}} Jobs</h1>
                <div ng-repeat="job in jobs">
                    <uib-progressbar value="job.progress" type="{{job.type}}" animate="true" duration="2">
                        <i><span count-to="job.progress" count-from=0>{{job.name}}</span></i>
                    </uib-progressbar>
                </div>
            </div>
            <div class="col-sm-2">
                <h1>ETA</h1>
                <div class="job" ng-repeat="job in jobs">
                    <h4><span am-time-ago="job.eta"></span></h4>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <h1>{{clients.length}} CPU <i class="fa fa-desktop"></i></h1>
            </div>
        <div>

        <div class="row">
            <div class="col-sm-4 poor-man-centering">

                <div class="row">
                    <div class="col-md-12">
                        <form class="form-inline pull-right">
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
                            <div class="input-group">
                                <input type="text" class="form-control" ng-model="required.cpu" required>
                            </div>
                          </div>
                          <button type="submit" class="btn btn-primary">Scale GPU</button>
                        </form>
                    </div>
                    
                </div>

                <div class="row" style="margin-top:20px">
                    <div class="col-md-12" uib-dropdown>
                        <button id="single-button" style="width:180px" type="button" class="pull-right btn btn-lg btn-success" uib-dropdown-toggle>
                            Configure <span class="glyphicon glyphicon-cog"></span>
                            <span class="caret"></span>
                        </button>
                        <ul class="pull-right" uib-dropdown-menu role="menu" aria-labelledby="single-button">
                            <li role="menuitem"><a href="#">Set min CPU</a></li>
                            <li role="menuitem"><a href="#">Priority</a></li>
                            <li role="menuitem"><a href="#">Setup alerts</a></li>
                            <li class="divider"></li>
                            <li role="menuitem"><a href="#">Delete task</a></li>
                        </ul>
                    </div>
                </div>
                <div class="row" style="margin-top:10px">
                    <div class="col-md-12" uib-dropdown>
                        <button class="pull-right btn btn-lg btn-primary" style="width:180px" type="submit"><i class="fa fa-btc"></i> Payments</button>
                    </div>
                </div>                
            </div>
            <div class="col-sm-8">
                <h1>Cost <i class="fa fa-btc"></i></h1>
                <canvas id="line" class="chart chart-line" chart-data="data" chart-labels="labels"
                        chart-legend="true" chart-series="series" chart-click="onClick">
                </canvas>
            </div>
        </div>
    </div>


    <h3>Here are all clients that are connected:</h3>
    <alert type="success" close="closeAlert($index)">These clients have no tasks</alert>
    <alert type="info" close="closeAlert($index)">These clients are calculating</alert>
    <table class="table table-condensed table-hover">
        <thead>
        <tr>
            <th>#</th>
            <th>Id</th>
            <th>Email</th>
            <th>IP</th>
            <th>Free</th>
            <th>Connected @</th>
            <th>Computing ques</th>
            <th>Points</th>
        </tr>
        </thead>
        <tbody>
        <tr class="animate-repeat" ng-repeat="client in clients"
            ng-class="{'success':client.free, 'info':!client.free}">
            <td>{{$index+1}}</td>
            <td><strong>{{client._id}}</strong></td>
            <td><span class="text-muted">{{client.email}}</span></td>
            <td>{{client.handshake.address}}</td>
            <td>{{client.free|boolean}}</td>
            <td>{{client.connectedAt|date : 'medium'}}</td>
            <td>{{client.rooms|json}}</td>
            <td>{{client.points}}</td>
        </tr>
        </tbody>
    </table>
</div>
