<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <div class="videogular-container">
            <videogular vg-theme="config.theme.url">
                <vg-media vg-src="config.sources"
                          vg-tracks="config.tracks"
                          vg-native-controls="true">
                </vg-media>
            </videogular>
        </div>
        <h1>Cat Tube (TM)</h1>

        <p class="lead">Welcome to Cat-Tube</p>
        <p>This service for free. Without commercials! You pay with your computation power.</p>
        <p>Thank you for your contribution.</p>

    </div>
</header>

<footer class="footer">
    <div class="container">
        <p>Made @ #SIX-HACATON</p>
    </div>
</footer>
