<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <h1>Dashboard</h1>
    <div class="row">
        <div class="col-md-6">
            
        </div>
        <div class="col-md-6">
            
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class=col-md-12>
                    <h3>{{'Connected clients: ' + clients.length}}</h2>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class=col-md-12>
                    <canvas id="left" 
                            class="chart chart-line" 
                            chart-data="left.data" 
                            chart-labels="left.labels">
                    </canvas>                    
                </div>
            </div>


        </div>
        <div class="col-md-6">
            <div class="row">
                <div class=col-md-12>
                    <h3>{{'Current balance: ' + balance + ' ฿'}}</h2>
                </div>
            </div>
            <br><br>
            <div class="row">
                <div class=col-md-12>
                    <canvas id="right" 
                            class="chart chart-line" 
                            chart-data="right.data" 
                            chart-labels="right.labels">
                    </canvas>                    
                </div>
            </div>


        </div>
    </div>

</div>
