<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container">
    <h1>How to</h1>
    <span>Joining the computational grid has never been easier. Just include the following snippet in your website's body, it will load asyncronously, ensuring the smoothest experience for your clients.</span>
    <br><br>
    <pre>{{codeSnippet}}</pre>
</div>
