<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
    <div class="container">
        <div class="videogular-container">
            <videogular vg-theme="config.theme.url">
                <vg-media vg-src="config.sources"
                          vg-tracks="config.tracks"
                          vg-native-controls="true">
                </vg-media>
            </videogular>
        </div>

        <h1>Premium content</h1>

        <p class="lead">Premium tier of Cat-Tube</p>
        <p>This service is only available because generous CPU power donations.</p>
        <p>Thank you for your contribution.</p>
    </div>
</header>

<footer class="footer">
    <div class="container">
        <p>Made @ #SIX-HACATON</p>
    </div>
</footer>
